*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #E9EFC0;
  }
  .navbar {
    width: 115%;
    background: #4E944F;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
  }
  .navbar a{
    text-decoration: none;
    color: white;
  }
  .navbar1 {
    width: 120%;
    background: #4E944F;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
  }
  .navbar1 a{
    text-decoration: none;
    color: white;
  }
  .navmenuone {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 40px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: center;
    margin-right: 2rem;
  }
  .navitem {
    display: flex;
    align-items: center;
    height: 80px;
  }
  .nav-button{
    padding: 20px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.2rem;
    background: inherit;
    color: white;
  }
  .nav-button:hover{
    color: #E9EFC0;
  }
  .nav-button1{
    padding: 20px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.5rem;
    background: inherit;
    color: white;
    margin-top: 5px;
  }
  .nav-button1:hover{
    color: #E9EFC0;
  }
  .nav-input{
    padding: 5px;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    width: 450px;
    border: none;
  }
  .navbartwo {
    position: fixed;
    background: #83BD75;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  
  }
  .navmenu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 40px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: center;
    margin-right: 2rem;
  }
  .downarrow{
    color: white;
    transform: translate(-5px,5px);
  }
  .container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 190px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0;
    height: 100vh;
  
  }
  .container2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0;
    height: 100vh;
  
  }
  .slider{
    width: 500px;
    height:500px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
  }
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 20%;
    transition: 2s;
  }
  .slide img{
    width: 500px;
    height: 500px;
  }
  .nav-manual{
    position: absolute;
    width: 500px;
    margin-top: -100px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  
  }
  .manual-btn:hover{
    background: #B4E197;
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  #radio5:checked ~ .first{
    margin-left: 0;
  }
  #radio6:checked ~ .first{
    margin-left: -20%;
  }
  #radio7:checked ~ .first{
    margin-left: -40%;
  }
  #radio8:checked ~ .first{
    margin-left: -60%;
  }
  #radio9:checked ~ .first{
    margin-left: 0;
  }
  #radio10:checked ~ .first{
    margin-left: -20%;
  }
  #radio11:checked ~ .first{
    margin-left: -40%;
  }
  #radio12:checked ~ .first{
    margin-left: -60%;
  }
  .navcontainer{
    position: fixed;
  }
  .sliderh2{
    color: #4E944F;
  }
  .logo{
    height: 90px;
    width: 90px;
    background-color: #4E944F;
    color: #4E944F;
  }
  /*------------------Start of dashboard and user panel codes---------------------------*/
  .side_dash{
    position: absolute;
    top: 139px;
    bottom:0;
    left: 0;
    background-color:#B4E197;
    width: 90px;
    height: 100%;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  }
    /*.d-items{
      padding-top: 20px;
      padding-left: 85px;
      list-style: none;
      padding-bottom: 35px;
    }
      .it{
        padding-bottom: 40px;
      }*/
      .it a{
        position: relative;
        display: table;
        padding: 10px;
        width: 300px;
        text-decoration: underline transparent;
        color: #4E944F;
        font-size: 1.5rem;
        font-weight: bold;
        transition: 0.5s ease;
        font-family: 'Poppins';
      }
      .bx{
        position: relative;
        width: 70px;
        height: 40px;
        top:14px;
        font-size: 1.5rem;
        text-align: center;
      }
      .menu-titles{
        position: relative;
        top: 12px;
        margin-left: 10px;
      }
    .it a:hover{
      background-color: #a9bb9d;  
    }
    .side_dash:hover{
      width: 280px;
      transition: all 0.5s ease;
    }

/*-------------All reviews page*/
.review-form{
  position: fixed;
  top: 150px;
  background-color: #edf5ba;
  width: 1200px;
  height: 650px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  left: 500px;
  border-radius: 6px;
  overflow: auto;
}
.review-form::-webkit-scrollbar{
  width: 1rem;
}
.review-form::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.review-form::-webkit-scrollbar-thumb {
  background-color: #b3be99;
  outline: 1px solid #98a57a;
}
.review-form::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  .tot_rev{
    position: relative;
    margin-left: 20px;
    color: rgb(152, 138, 138);
    font-style: italic;
    font-weight: light;
  }
  .dottedline{
    height: 3px;
    width: 940px;
    position: relative;
    background-color: rgb(152, 138, 138);
    margin-left: 20px;
  }
  .rev-cont{
    position: relative;
    background-color: rgb(152, 138, 138);
    height: auto;
    width: 920px;
    margin-left: 30px;
    border-radius: 4px;
  }
    .h5{
      position: relative;
      margin-bottom: 2px;
      
    }
    .pr-dt{
      margin-top:20px;
      margin-left: 20px;
      margin-bottom: 10px;
    }
    .show-btn{
      height: 30px;
      width: 10%;
      margin-top: 5px;
    }
    .show-btn button{
      background-color: #edf5ba;;
      height: 70%;
      width: 100%;
      font-size: medium;
      font-weight: bold;
      border-radius: 6px;
      border: none;
      color: rgb(152, 138, 138);
    }
    .show-btn button:hover{
      background-color: rgba(42, 40, 40, 0.939);
      color: #E9EFC0;
    }

/*---------User profile edit*/
.profile-form{
  position: fixed;
  top: 180px;
  background-color: #edf5ba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 65%;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  left: 450px;
  border-radius: 6px;
}
  .form-container{

    width: 80%;
    height: 60%;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    border: 5px solid #4E944F;
  }
  h3{
    line-height: 1px;
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .in_field{
    
    height: 40px;
    width: 100%;
  }
  .in_field input{
    height: 80%;
    width: 100%;
    background-color: #B4E197;
    border: none;
    border-radius: 6px;
    padding-left: 15px;
    font-size: large;
    color: #4E6C50;
  }
  .in_field input:focus{
    outline-color: #4E6C50;
  }
  .up-btn{
    height: 30px;
    width: 30%;
    margin-top: 5px;
  }
  .up-btn button{
    background-color: #B4E197;
    height: 100%;
    width: 100%;
    font-size: medium;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    color: #61764B;
  }
  .up-btn button:hover{
    background-color: #749F82;
    color: #E9EFC0;
  }

  /*--------------Product Request Page*/
    .req-cont{
      width: 870px;
      height: 320px;
      padding: 30px;
      background-color: white;
      border-radius: 8px;
      border: 5px solid #4E944F;
      margin-left: 20px;
      margin-top: 20px;
      overflow: auto;
    }
      .in_fieldnew{
        margin-top: 30px;
        height: 40px;
        width: 100%;
      }
      .in_fieldnew input{
        height: 80%;
        width: 100%;
        background-color: #B4E197;
        border: none;
        border-radius: 6px;
        padding-left: 15px;
        font-size: large;
        color: #4E6C50;
      }
      .in_fieldnew input:focus{
        outline-color: #4E6C50;
      }
      
      .in_fieldtext{
        margin-top: 5px;
        height: 60px;
        width: 100%;
        padding-bottom: 25px;
      }
      .in_fieldtext textarea{
        height: 100px;
        width: 100%;
        background-color: #B4E197;
        border: none;
        border-radius: 6px;
        padding-left: 15px;
        font-size: large;
        color: #4E6C50;
        font-weight: bold;
        outline: none;
      }
      .req-cont::-webkit-scrollbar{
        width: 1rem;
      }
      .req-cont::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      .req-cont::-webkit-scrollbar-thumb {
        background-color: #b3be99;
        outline: 1px solid #98a57a;
      }
      .req::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
/*........requests queue*/
.class-body{
  margin-left: 90px;
  margin-right: 90px;
}
.tbody{
  border-radius: 6px;
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 1000px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}
.table thead tr{
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.table th,
.tbd td {
    padding: 12px 15px;
}
.tbd tr {
  border-bottom: 1px solid #dddddd;
}

.tbd tr:nth-of-type(even) {
  background-color: #bda9a9;
}

.tbd tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.tbd tr.active-row {
  font-weight: bold;
  color: #009879;
}
.btn-acc{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.btn-acc:hover{
  opacity: 0.7;
}
.btn-dec{
  background-color: rgba(187, 59, 59, 0.929); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.btn-dec:hover{
  opacity: 0.7;
}

/*--------Stat cards*/
.stat-dt {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-left: 20px;
  margin-top: 20px;
}
.stat-cont {margin: 0 -5px;}
.stat-cont:after {
  content: "";
  display: table;
  clear: both;
}
.crd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #bda9a9;;
  border-radius: 6px;
}
.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8px;
  padding: 20px;
  background-color: rosybrown;
  border-radius: 3px;
  border: 3px rgba(187, 59, 59, 0.929) solid;
  color: rgb(34, 31, 31);
  font-size: large;
}
.btn-pending{
  background-color: #2196F3; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

/*Product Gallery*/
.product-container{
  position: fixed;
  top: 200px;
  background-color: #edf5ba;
  width: 80%;
  height: 70%;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.4);
  left: 10%;
  border-radius: 6px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(max(300px,20%),1fr));
  gap: 2rem;
}
  .prod-card{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 3rem 2rem;
    background: #b3be99;
    height: 35rem;
    box-shadow: 0.5rem, 1rem rgba(0, 0, 0, 0.5);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
  }
  .prod-card:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
  }
  .product-container.prod-card img{
    height: 20rem;
  }
  .prod-card:hover img{
    transform: scale(.9);
    transition: .4s linear;
  }
  .prod-card h4{
    padding: 5rem 0;
    font-size: 2rem;
    color: #4E6C50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .prod-card:hover h4{
    color: #27ae60;
  }

  /*Product review section*/

  #review-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .review-section-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .review-section-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Poppins';
  }

  .review-section-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Poppins';
  }

  .review-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

    .card-container{
      width: 500px;
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
      background-color:#ffffff;
      padding: 20px;
      margin: 15px;
    }
    .profile{
      display: flex;
      align-items: center;
    }
      .username{
        display: flex;
        flex-direction: column;
      }
      .username strong{
        color: #3d3d3d;
        font-size: 1.1rem;
        letter-spacing: 1px;
        font-family: 'Poppins';
        font-weight:bold;
      }
      .profile span{
        color: #2b2b2b;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Poppins';
      }
      .review-rating{
        color:#ff4545;
        font-family: 'Poppins';
        font-weight:bold;
        font-size: 1.1rem;
        letter-spacing: 1px;
      }
    .box-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .comment{
      color:#4b4b4b;
    }
    .comment p{
      font-size: 1rem;
      font-weight: 600;
    }

    /*Enter review form*/
    .form-card-container{
      width: 65%;
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
      background-color:#ffffff;
      padding: 20px;
      margin: 15px;
    }
    .rate-options{
      width: 100%;
    }
    .rate-options select{
      background-color: #d8dfe5;
      width: 100%;
      height: 60px;
      color:black;
      padding: 12px;
      border: none;
      font-size: 1.5rem;
      font-family:"Poppins";
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
      -webkit-appearance: button;
      appearance: button;
      outline: none;
    }
    .rate-options select option{
      font-size: 1.5rem;
    }
    
    @media (max-width: 480px) {
      .rate-options select option{
        font-size: 0.7rem;
      }
    }
    .text-area{
      margin-top: 10px;
      width: 100%;
      margin-bottom: 10px;
    }
    .text-area textarea{
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 1.1rem;
      font-family:"Poppins";
      resize: none;
    }
    .sub-btn{
      width:100%;
    }
    .btn-submit{
      width: 100%;
      background-color: #2196F3; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.3rem;
      border-radius: 8px;
    }
    .btn-submit:hover{
      opacity: 0.6;
      cursor: pointer;
    }
    .descrip
    {
      width: 90%;
    }
    .pr-title{
      width: 90%;
      text-align:left;
      margin-bottom: 10px;
    }
    .pr-title h1{
      margin-top: 10px;
    }
